.ripple {
  background-position: center;
  transition: background 0.2s;
}
.ripple:hover {
  background: #e68a40 radial-gradient(circle, transparent 1%, #e68a40 1%) center/15000%;
}
.ripple:active {
  background-color: #e68a40;
  background-size: 100%;
  transition: background 0s;
}

.disabled {
  background-color: grey;
  color: lightgrey;
  cursor: default;
}

button {
  border: none;
  border-radius: 2px;
  padding: 1.2rem 1.8rem;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  background-color: #c47331;
  box-shadow: 0 0 4px #999;
  outline: none;
  margin: .5rem;
  flex-grow: 1;
}