.fullscreenOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}

.clickable {
  cursor: pointer;
}

.image {
  float: right;
  width: 30rem;
}

.dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 57rem;
  height: 30rem;
  background-color: white;
  border-style: solid;
  border-radius: 1rem;
  border-width: .6rem;
  padding: 4rem;
  font-family: Roboto, sans-serif;
  cursor: default;
}

.dialog h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  margin-top: 0;
  width: 100%;
  background-color: #ffe9d7;
  padding: 0.5rem;
}

.dialog p {
  font-size: 2rem;
}

.description {
  width: auto;
}